<div class="section">
<!--  <div class="text-header">МЫ ПРЕДЛАГАЕМ</div>-->
  <div class="offers-header">
    <div class="offers">
      <div (click)="toggleFlip(offer)" [@flipState]="getFlipState(offer)" class="offer text-article" *ngFor="let offer of offers; let i = index" [@right]="init && i % 2 == 0 ? 'init' : 'closed'" [@left]="init && i % 2 != 0 ? 'init' : 'closed'">
        <div class="side front">
          <div class="offer-header-and-image">
            <div class="cxy">
              <img class="offer-image-img" [src]="'/' + offer.image">
            </div>
            <div class="offer-header cx">{{offer.title}}</div>
            <div class="offer-subtitle cx">{{offer.subtitle}}</div>
          </div>
          <div class="rotate">
            <div class="button-rotate">
              <div class="cxy">
                Подробнее
              </div>
            </div>
          </div>
        </div>
        <div class="side back">
          <div class="offer-header cx">{{offer.title}}</div>
          <ul class="offer-descr">
            <li class="offer-descr-line" *ngFor="let s of offer.descr">{{s}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
