<div class="section">
  <div class="section-mask" [@background]="init ? 'init' : 'closed'"></div>
  <div class="text-header">Что мы умеем?</div>
  <div class="offers-header">
    <div class="offers">
      <div (click)="toggleFlip(offer)" [@flipState]="getFlipState(offer)" class="offer text-article" *ngFor="let offer of offers; let i = index"
           [@left-top]="init && (i == 0) ? 'init' : 'closed'"
           [@right-top]="init && (i == 2) ? 'init' : 'closed'"
           [@left-bottom]="init && (i == 3) ? 'init' : 'closed'"
           [@right-bottom]="init && (i == 5) ? 'init' : 'closed'"
           [@top]="init && (i == 1) ? 'init' : 'closed'"
           [@bottom]="init && (i == 4) ? 'init' : 'closed'"
      >
        <div class="side front">
          <div class="offer-header-and-image">
            <div class="cxy">
              <img class="offer-image-img" [src]="'/' + offer.image">
            </div>
            <div class="offer-header cx">{{offer.title}}</div>
            <div class="offer-subtitle cx">{{offer.subtitle}}</div>
          </div>
          <div class="rotate">
            <div class="button-rotate">
              <div class="cxy">
                Подробнее
              </div>
            </div>
          </div>
        </div>
        <div class="side back">
          <div class="offer-header pb-20 cx">{{offer.title}}</div>
          <div class="offer-descr padding-20">
            <div *ngFor="let s of offer.descr">
              <div class="offer-descr-line subtitle-back">{{s}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
