<div class="contact-us">
  <form>
    <div class="input-line">
      <input id="name" class="input-text" type="text" placeholder="Ваше имя" required>
      <label for="name" class="input-label">Ваше имя</label>
    </div>
    <div class="input-line">
      <input id="email" class="input-text" type="email" placeholder="E-mail" required>
      <label for="email" class="input-label">E-mail</label>
    </div>
    <div class="input-line">
      <textarea id="text" class="input-text" required></textarea>
      <label for="text" class="input-label">Введите сообщение</label>
    </div>
    <div class="input-line cx">
      <button class="send-button">ОТПРАВИТЬ</button>
    </div>
  </form>
</div>
