.section{
  height: 100%;
  background-color: var(--second-color);
  color: var(--main-color);
  position: relative;
  padding-right: 3%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 10vh;
}
.text-header{
  color: var(--main-active-color);
  font-size: 1.7vh;
  font-weight: 600;
  font-family: Montserrat-ExtraBold, sans-serif;
  letter-spacing: 3px;
}
.two-columns{
  display: grid;
  grid-template-columns: 0.8fr 1fr;
}
.text-descr{
  padding: 3% 3% 3% 4%;
  font-size: 2.5vh;
}
.text-big{
  color: var(--main-color);
  font-size: 6vh;
  font-family: Montserrat-ExtraBold, sans-serif;
  font-weight: 600;
  padding-top: 3vh;
}
.tile-contact{
  width: 100%;
  color: #606060;
  background-color: white;
  padding: 15px;
  border-radius: 16px;
  margin-bottom: 2vh;
  font-family: SourceSans3-Regular, sans-serif;
}
.icons{
  background-color: rgb(253 8 68 / 15%);
  padding: 10px;
  border-radius: 12px;
  width: fit-content;
  margin-right: 20px;
}
.form{
  background-color: #ffffff0f;
  padding: 20px;
  border-radius: 20px;
  min-width: 25vw;
}
.first-column{
  padding-right: 20%;
}
.second-column{
  padding-left: 20%;
}
.column-height{
  height: 50vh;
}
.use-image{
  display: flex;
  justify-content: center;
}
.cloud-img{
  height: 45vh;
  padding-left: 15%;
}
.server-img{
  height: 45vh;
  padding-left: 25%;
}
.text-article-header {
  padding-top: 2vh;
  padding-bottom: 0.5vh;
}
.text-article{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 2vh;
  padding: 2vh;
}
.team-img{
  height: 40vh;
}
.text-line{
  padding-top: 1vh;
}
.contact-img{
  height: 4vh;
}
.contact-lines{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}
.contact-line{
  cursor: pointer;
  font-weight: bold;
  font-size: 2vh;
}
.min-text{
  font-size: 1.2vh;
  margin-bottom: 5px;
}
.copy-img{
  height: 2.5vh;
  cursor: pointer;
}
.qr-img{
  height: 5vh;
}
.open-img{
  height: 2.3vh;
  cursor: pointer;
}
.button-img{
  height: 2.3vh;
  cursor: pointer;
}
.tooltip{
  background-color: rgba(51, 51, 51, 0.75);
  color: white;
  width: auto;
  padding: 12px;
  font-size: 2vh;
  border-radius: 20px;
}
.qr-code{
  background-color: rgba(51, 51, 51, 0.75);
  padding: 12px;
}
ul{
  margin: 0;
}
.contact{
  position: fixed;
  top: 50%;
  left: 50%;
  height: 40vh;
  width: 60vh;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 200;
}
.message-send{
  position: fixed;
  bottom: 2vh;
  left: 50%;
  height: 80px;
  width: 380px;
  transform: translate(-50%, -50%);
  z-index: 200;
  border-radius: 10px;
  background-color: #F1FDF5;
}
.subtitle{
  color: #868587;
  font-size: 13px;
  padding-top: 3vh;
  padding-bottom: 3vh;
  font-family: SourceSans3-Regular, sans-serif;
}
.subtitle-form{
  color: #868587;
  font-size: 13px;
  padding-bottom: 3px;
  font-family: SourceSans3-Regular, sans-serif;
}
.input-form{
  padding: 15px 10px;
  border-radius: 8px;
  font-family: SourceSans3-Regular, sans-serif;
}
.text-form{
  min-height: 5vh;
}
.button{
  display: flex;
  justify-content: center;
  background-color: var(--main-active-color);
  color: white;
  border-radius: 1vh;
  padding: 12px 20px;
  font-family: Inter-Regular, sans-serif;
  font-weight: bold;
  font-size: 13px;
  width: fit-content;
  cursor: pointer;
  user-select: none;
}
.disabled-button{
  pointer-events: none;
  opacity: 0.7;
}
