<div class="section">
  <div class="two-columns">
    <div class="first-column">
      <div class="" [@left]="init ? 'init' : 'closed'">
        <div class="text-header">КОНТАКТЫ</div>
        <div class="text-big">Связаться с<br>нами</div>
        <div class="subtitle">Мы ценим вопросы и обратную связь и всегда рады помочь!<br>
          Вот несколько способов связаться с нами.</div>
        <div class="tile-contact df">
          <div class="icons cy">
            <img src="/mail.svg" height="22">
          </div>
          <div class="w-100 cx flex-col">
            <div class="min-text">Email:</div>
            <a class="cxy" #emailUrl [href]="'mailto:' + email" target="_blank"></a>
            <div (click)="emailUrl.click()" class="contact-line cy">{{email}}</div>
          </div>
        </div>
        <div class="tile-contact df">
          <div class="icons cy">
            <img src="/phone.svg" height="22">
          </div>
          <div class="w-100 df">
            <div class="cx flex-col">
              <div class="min-text">Phone / WhatsApp:</div>
              <a class="cxy" #whatsappUrl [href]="'https://wa.me/' + whatsapp" target="_blank"></a>
              <div (click)="whatsappUrl.click()" class="contact-line cy">+7 999 212-72-38</div>
            </div>
            <div class="p-ml-auto cxy">
              <img (click)="whatsappUrl.click()" src="/wa.svg" class="qr-img">
            </div>
          </div>
        </div>
        <div class="tile-contact df">
          <div class="icons cy">
            <img src="/telegram.svg" height="22">
          </div>
          <div class="w-100 df">
            <div class="cx flex-col">
              <div class="min-text">Telegram:</div>
              <a class="cxy" #telegramUrl [href]="'https://t.me/' + telegram" target="_blank"></a>
              <div (click)="telegramUrl.click()" class="contact-line cy">spiridovich_p</div>
            </div>
            <div class="p-ml-auto cxy">
              <img (click)="telegramUrl.click()" class="qr-img" src="/tme.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="second-column cy">
      <div class="" [@right]="init ? 'init' : 'closed'">
        <div class="form" [formGroup]="contacts">
          <div class="df flex-col mb-20">
            <label for="name" class="subtitle-form">Ваше имя</label>
            <input id="name" class="input-form" type="text" placeholder="Ваше имя" formControlName="name" required>
          </div>
          <div class="df flex-col mb-20">
            <label for="email" class="subtitle-form">Email</label>
            <input id="email" class="input-form" type="email" placeholder="Ваш email адрес" formControlName="email" required>
          </div>
          <div class="df flex-col mb-20">
            <label for="company" class="subtitle-form">Компания</label>
            <input id="company" class="input-form" type="text" placeholder="Наименование компании" formControlName="company">
          </div>
          <div class="df flex-col mb-20">
            <label for="text" class="subtitle-form">Введите сообщение</label>
            <textarea id="text" class="input-form text-form" placeholder="Введите ваше сообщение" formControlName="text" required></textarea>
          </div>
          <div class="df flex-col mb-20">
            <re-captcha (resolved)="resolved($event)" siteKey="6LedWBsqAAAAABpWo7pmpUpo62jHU5dKxOL0TvuK"></re-captcha>
          </div>
          <div [class.disabled-button]="!captchaResolved && contacts.invalid" class="button" (click)="sendNotify()">
            <div class="cxy">
              Отправить
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tooltip" *ngIf="tooltip.text != ''" [ngStyle]="getTextLocationStyle(tooltip)" [@in]="tooltip.text != ''">{{tooltip.text}}</div>
<qrcode class="qr-code" *ngIf="qrCode.text != ''" [ngStyle]="getTextLocationStyle(qrCode)" [qrdata]="qrCode.text" [width]="128"></qrcode>
<div class="contact" *ngIf="showContact">
  <app-contact (closed)="showContact = false"></app-contact>
</div>

<div class="message-send" *ngIf="showMessageSend">
  <app-message-send (closed)="showMessageSend = false"></app-message-send>
</div>
