<div class="section">
  <div class="text-header">МЫ ИСПОЛЬЗУЕМ</div>
  <div class="cx text-article-header">
    <div class="text-descr cxy">
      <div class="text-article" [@left]="init ? 'init' : 'closed'">
        <div class="text-highlight text-article-descr header">ПРИМЕНЯЕМ</div>
        <div class="ul-no-margin">
          <div class="cx" *ngFor="let use of uses">{{use}}</div>
        </div>
        <div class="text-highlight text-article-descr" [@text-color]="init ? 'init' : 'closed'">средства и инструменты разработки</div>
      </div>
    </div>
    <div class="cxy" [@bottom]="init ? 'init' : 'closed'">
      <img class="use-img text-article" src="/use.png">
    </div>
    <div class="text-descr cy">
      <div class="text-article" [@right]="init ? 'init' : 'closed'">
        <div class="text-highlight text-article-descr header">ПОЛУЧАЕМ</div>
        <div class="ul-no-margin">
          <div class="cx" *ngFor="let have of having">{{have}}</div>
        </div>
        <div class="text-highlight text-article-descr" [@text-color]="init ? 'init' : 'closed'">информационные системы и приложения</div>
      </div>
    </div>
  </div>
</div>
