head, body{
  overflow: scroll!important;
}
.ovf-auto{
  overflow: scroll!important;
  background-color: var(--second-color);
}
.section{
  background-color: var(--second-color);
  color: var(--main-color);
  padding: 3vh;
}
.logo{
  position: sticky;
  top: 0;
  padding: 20px;
  background-color: var(--second-color);
  z-index: 20;
}
.logo-image{
  width: 30vw;
}
.head-text{
  padding: 10vh 4vh 8vh 4vh;
  font-size: 60px;
  font-family: Montserrat-ExtraBold, sans-serif;
  font-weight: 800;
  color: var(--main-color);
  line-height: 9vh;
  text-align: center;
}
.text-header{
  color: var(--main-color);
  font-size: 30px;
  text-align: center;
  padding-top: 2%;
  font-family: Montserrat-ExtraBold, sans-serif;
  font-weight: 900;
}
.text-head{
  color: var(--main-active-color);
  font-size: 1.7vh;
  font-weight: 600;
  margin-left: 13%;
  font-family: Montserrat-ExtraBold, sans-serif;
  letter-spacing: 3px;
}
.offer-box{
  background-color: #ffffff0f;
  border-radius: 2vh;
  padding: 1.5vh;
  min-height: 5vh;
  margin: 2.5vh 0;
}
.offer-header{
  font-size: 1.8vh;
  font-weight: 600;
  font-family: Montserrat-ExtraBold, sans-serif;
}
.offer-subtitle{
  color: #868587;
  font-size: 1.2vh;
  font-family: Inter-Regular, sans-serif;
}
.offer-img{
  padding: 0 1vh 0 0;
}
.arrow{
  margin-bottom: -10px;
  margin-left: auto
}
.sub-text-skill{
  color: #afafaf;
  padding-top: 3vh;
  padding-bottom: 3vh;
  font-family: Inter-Regular, sans-serif;
  font-size: 1.5vh;
}
.skills{
  padding: 3vh 0 5vh 25%;
}
.text-skill{
  font-family: Inter-Regular, sans-serif;
  color: #868587;
  margin-top: 5px;
}
.mb-2vh{
  margin-bottom: 2vh;
}
.deploy-header{
  color: var(--main-color);
  font-size: 2vh;
  font-weight: 600;
  padding-bottom: 3vh;
  font-family: Montserrat-ExtraBold, sans-serif;
}
.text-article{
  border-radius: 2vh;
  font-family: Inter-Regular, sans-serif;
  color: #868587;
  font-size: 1.6vh;
}
.tile-contact{
  color: #606060;
  background-color: white;
  padding: 15px;
  border-radius: 16px;
  margin-bottom: 2vh;
  font-family: SourceSans3-Regular, sans-serif;
}
.icons{
  background-color: rgb(253 8 68 / 15%);
  padding: 10px;
  border-radius: 12px;
  width: fit-content;
  margin-right: 20px;
}
.min-text{
  font-size: 1.2vh;
  margin-bottom: 5px;
}
.contact-line{
  cursor: pointer;
  font-weight: bold;
  font-size: 2vh;
}
.pb-3vh{
  padding-bottom: 3vh;
}
.form{
  background-color: #ffffff0f;
  padding: 20px;
  border-radius: 20px;
  min-width: 25vw;
}
.subtitle-form{
  color: #868587;
  font-size: 13px;
  padding-bottom: 3px;
  font-family: SourceSans3-Regular, sans-serif;
}
.input-form{
  padding: 15px 10px;
  border-radius: 8px;
  font-family: SourceSans3-Regular, sans-serif;
}
.button{
  display: flex;
  justify-content: center;
  background-color: var(--main-active-color);
  color: white;
  border-radius: 1vh;
  padding: 12px 20px;
  font-family: Inter-Regular, sans-serif;
  font-weight: bold;
  font-size: 13px;
  width: fit-content;
}
.img-cont{
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #ffffff0f;
  border-radius: 2vh;
  padding: 1.2vh;
}
.mr-3vh{
  margin-right: 1.2vh;
}
.row1{
  padding-bottom: 1.2vh;
}
.row2{
  padding-bottom: 1.2vh;
}
.row3{
  padding-bottom: 1.2vh;
}
.offer-description{
  margin-top: 10px;
  font-size: 14px;
  overflow: hidden;
  color: #868587;
  font-family: Inter-Regular, sans-serif;
  text-align: center;
}
.header-dot{
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  &.active{
    background-color: var(--main-active-color);
  }
}
.header-dots{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.qr-img{
  height: 5vh;
}
