<div class="logo">
  <img class="logo-image" src="/logo.png">
  <div class="df header-dots" (click)="scrollToTop($event)">
    @for (sec of sections; track sec){
      <div class="header-dot" [class.active]="sec == activeSection"></div>
    }
  </div>
</div>
<div class="ovf-auto">
  <div class="h100vh" (click)="scrollToOffers()" (touchstart)="headerTouchStart($event)" (touchend)="headerTouchEnd($event)">
    <div class="head-text">IT решения для вашего бизнеса</div>
    <div class="arrow cxy">
      <img src="/double-down.svg" height="100">
    </div>
  </div>
  <div class="section">
    <div class="text-header">Что мы умеем?</div>
    <div class="sub-text-skill pb-20 text-center">Мы обладаем достаточными компетенциями и опытом по следующим направлениям</div>
    <div class="offer-box" *ngFor="let offer of offers; let i = index">
      <div (click)="toggleOffer(i)">
        <div class="df">
          <div class="cxy">
            <img class="offer-img" [src]="'/' + offer.image" height="30">
          </div>
          <div>
            <div class="offer-header">{{offer.title}}</div>
            <div class="offer-subtitle">{{offer.subtitle}}</div>
          </div>
          <div class="arrow cy">
            <img src="/down.svg" height="16" [ngStyle]="getOfferImgStyle(i)">
          </div>
        </div>
        <div class="offer-description" [ngStyle]="getOfferDescriptionStyle(i)">
          {{offer.descr}}
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="text-header">Современные технологии</div>
    <div class="sub-text-skill pb-20 text-center">В нашем программном обеспечении мы используем самый современный и проверенный стек технологий.</div>
    <div class="skills">
      <div class="df mb-20" *ngFor="let use of uses">
        <div class="mr-10 cx cy">
          <img src="/checkmark-v.svg" height="30">
        </div>
        <div class="text-skill">{{use}}</div>
      </div>
    </div>
    <div class="cx cy flex-col">
      <div class="row1 mb-2vh df">
        <div class="img-cont mr-3vh">
          <img src="/angular.png" height="60">
        </div>
        <div class="img-cont">
          <img src="/java.png" height="60">
        </div>
      </div>
      <div class="row2 mb-2vh df">
        <div class="img-cont mr-3vh">
          <img src="/scala.png" height="60">
        </div>
        <div class="img-cont mr-3vh">
          <img src="/nestjs.png" height="60">
        </div>
        <div class="img-cont">
          <img src="/docker.png" height="60">
        </div>
      </div>
      <div class="row3 mb-2vh df">
        <div class="img-cont mr-3vh">
          <img src="/mongodb.png" height="60">
        </div>
        <div class="img-cont">
          <img src="/kubernetes.png" height="60">
        </div>
      </div>
      <div class="row4 df">
        <div class="img-cont mr-3vh">
          <img src="/postgresql.png" height="60">
        </div>
        <div class="img-cont mr-3vh">
          <img src="/node.png" height="60">
        </div>
        <div class="img-cont">
          <img src="/nginx.png" height="60">
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="text-header">Варианты реализации</div>
    <div class="sub-text-skill pb-20 text-center">Основные варианты развертывания вашего программного обеспечения. Вы выбираете - мы делаем.</div>
    <div class="offer-box">
      <div class="deploy-header df">
        <div class="w-20">
          <img src="/cloud.svg" height="40">
        </div>
        <div class="w-80 cy">Облачные решения</div>
      </div>
      <div class="text-descr" >
        <div class="text-article">
          <div class="df pb-20" *ngFor="let c of cloud.plus">
            <div class="w-20"><img src="/checkmark.svg" height="34"></div>
            <div class="w-80">{{c}}</div>
          </div>
        </div>
        <div class="text-article">
          <div class="df pb-20" *ngFor="let c of cloud.minus">
            <div class="w-20"><img src="/minus.svg " height="34"></div>
            <div class="w-80">{{c}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="offer-box">
      <div class="deploy-header df">
        <div class="w-20">
          <img src="/serv.svg" height="40">
        </div>
        <div class="w-80 cy">Собственные сервера</div>
      </div>
      <div class="text-descr" >
        <div class="text-article">
          <div class="df pb-20" *ngFor="let c of server.plus">
            <div class="w-20"><img src="/checkmark.svg" height="34"></div>
            <div class="w-80">{{c}}</div>
          </div>
        </div>
        <div class="text-article">
          <div class="df pb-20" *ngFor="let c of server.minus">
            <div class="w-20"><img src="/minus.svg " height="34"></div>
            <div class="w-80">{{c}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="text-header pb-3vh">Связаться с нами</div>
    <div class="tile-contact df">
      <div class="icons cy">
        <img src="/mail.svg" height="22">
      </div>
      <div class="w-100 cx flex-col">
        <div class="min-text">Email:</div>
        <a class="cxy" #emailUrl [href]="'mailto:' + email" target="_blank"></a>
        <div (click)="emailUrl.click()" class="contact-line cy">{{email}}</div>
      </div>
    </div>
    <div class="tile-contact df">
      <div class="icons cy">
        <img src="/phone.svg" height="22">
      </div>
      <div class="w-100 df">
        <div class="cx flex-col">
          <div class="min-text">Phone</div>
          <a class="cxy" #whatsappUrl [href]="'https://wa.me/' + whatsapp" target="_blank"></a>
          <div (click)="whatsappUrl.click()" class="contact-line cy">+7 999 212-72-38</div>
        </div>
      </div>
    </div>
    <div class="tile-contact df">
      <div class="icons cy">
        <img src="/telegram.svg" height="22">
      </div>
      <div class="w-100 df">
        <div class="cx flex-col">
          <div class="min-text">Telegram:</div>
          <a class="cxy" #telegramUrl [href]="'https://t.me/' + telegram" target="_blank"></a>
          <div (click)="telegramUrl.click()" class="contact-line cy">spiridovich_p</div>
        </div>
      </div>
    </div>

    <div class="form" [formGroup]="contacts">
      <div class="df flex-col mb-20">
        <label for="name" class="subtitle-form">Ваше имя</label>
        <input id="name" class="input-form" type="text" placeholder="Ваше имя" formControlName="name" required>
      </div>
      <div class="df flex-col mb-20">
        <label for="email" class="subtitle-form">Email</label>
        <input id="email" class="input-form" type="email" placeholder="Ваш email адрес" formControlName="email" required>
      </div>
      <div class="df flex-col mb-20">
        <label for="company" class="subtitle-form">Компания</label>
        <input id="company" class="input-form" type="email" placeholder="Наименование компании" formControlName="email" required>
      </div>
      <div class="df flex-col mb-20">
        <label for="text" class="subtitle-form">Введите сообщение</label>
        <textarea id="text" class="input-form text-form" placeholder="Введите ваше сообщение" formControlName="text" required></textarea>
      </div>
      <div class="df flex-col mb-20">
        <re-captcha (resolved)="resolved($event)" siteKey="6LedWBsqAAAAABpWo7pmpUpo62jHU5dKxOL0TvuK"></re-captcha>
        <!--            <img src="capcha.png" width="80%">-->
      </div>
      <div class="button">
        <div class="cxy">
          Отправить
        </div>
      </div>
    </div>
  </div>





</div>
