<div (wheel)="scrollEvent($event)">
  <div #navi class="navi" *ngIf="naviComponent != null">
    <ng-template [ngComponentOutlet]="naviComponent"></ng-template>
  </div>
  <div *ngFor="let c of components">
    <div [ngStyle]=componentStyle>
      <ng-template [ngComponentOutlet]="c"></ng-template>
    </div>
  </div>
  <div *ngIf="dotsEnabled" class="dots">
    <div *ngFor="let c of components; let i = index" class="dot" [class.dot-selected]="i == this.scrolledSection" (click)="clickScroll(i)"></div>
  </div>
</div>
