head,body{
  padding: 0;
  margin: 0;
  overflow: hidden;
}
:root{
  --main-color: #ffffff;
  --second-color: #000000;
  --main-active-color: #fd0844;
}
.w-100{
  width: 100%;
}
.df{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.mx-20{
  margin: 0 10px 0 10px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-20{
  margin-bottom: 20px;
}
.cx{
  display: flex;
  justify-content: center;
}
.ox{
  display: flex;
  justify-content: space-between;
}
.cy{
  display: flex;
  align-items: center;
}
.cxy{
  display: flex;
  justify-content: center;
  align-items: center;
}
.h100{
  height: 100%;
}
.text-highlight{
  color: var(--main-active-color);
}
.ml-1{
  margin-left: 1%;
}
.rx{
  display: flex;
  justify-content: flex-end;
}
.lx{
  display: flex;
  justify-content: flex-start;
}
.ul-no-margin{
  margin: 0;
}
