.section{
  height: 100%;
  color: var(--main-color);
  position: relative;
  padding-right: 3%;
}
.text-header{
  color: var(--main-active-color);
  font-size: 5vh;
  padding-left: 4%;
  padding-top: 2%;
}
.two-columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.text-descr{
  padding: 3% 3% 3% 4%;
  font-size: 2vh;
}
.column-height{
  height: 44vh;
}
.use-image{
  display: flex;
  justify-content: center;
}
.cloud-img{
  height: 42vh;
  padding-left: 15%;
}
.server-img{
  height: 42vh;
  padding-left: 25%;
}
.text-article{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 2vh;
  padding: 1vh;
  margin-top: 2vh;
}
