<div class="section">
  <div class="section-mask" [@background]="init ? 'init' : 'closed'"></div>
  <div class="text-header">Наши проекты</div>
  <div class="projects-header">
    <div class="projects">
      <div (click)="toggleFlip(project)" [@flipState]="getFlipState(project)" class="project text-article" *ngFor="let project of projects; let i = index"
           [@left-top]="init && (i == 0) ? 'init' : 'closed'"
           [@right-top]="init && (i == 2) ? 'init' : 'closed'"
           [@left-bottom]="init && (i == 3) ? 'init' : 'closed'"
           [@right-bottom]="init && (i == 5) ? 'init' : 'closed'"
           [@top]="init && (i == 1) ? 'init' : 'closed'"
           [@bottom]="init && (i == 4) ? 'init' : 'closed'"
      >
        <div class="side front">
          <div class="project-header-and-image">
            <div class="cxy">
              <video class="project-image-img" [src]="project.video_thumb" autoplay loop muted></video>
            </div>
            <div class="project-header cx">{{project.title}}</div>
            <div class="project-subtitle cx">{{project.subtitle}}</div>
          </div>
          <div class="rotate">
            <div class="button-rotate">
              <div class="cxy">
                Подробнее
              </div>
            </div>
          </div>
        </div>
        <div class="side back">
          <div class="project-header pb-20 cx">{{project.title}}</div>
          <div class="project-descr padding-20">
            <div *ngFor="let s of project.description">
              <div class="project-descr-line subtitle-back">{{s}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
